/* -------------------------------------
general
------------------------------------- */

body
{
	margin: 0;
	padding: 0;
	color: #111;
	background: #e3e2d6;
	font: 100%/1.4 helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul { margin-top: 0; }

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 .5em;
	color: #814236;
	font-family: georgia, times, "times new roman", serif;
	font-weight: normal;
}

h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-size: 130%; }
h5 { font-size: 100%; }
h6 { font-size: 100%; }
img { border: none; }
a:link { color: #105695; }
a:visited { color: #044784; }
a:focus { color: #000; }
a:hover { color: #814236; }
a:active { color: red; }
input, textarea, select { font: 100%/1.4 helvetica, arial, sans-serif; }

dl
{
	background: #e8e6d7;
	margin: 1em 0;
	padding: 10px 12px 12px;
}

dt
{
	float: left;
	clear: left;
	width: 8em;
	margin: 0;
	padding: 3px 0 0;
}

dd
{
	margin: 0 0 0 9em;
	padding: 3px 0 0;
}

ul
{
	margin: 1em 0;
	padding: 0;
}

ul li
{
	margin: 0 0 .7em;
	padding: 0 0 0 15px;
	list-style-type: none;
	background: url(../images/bullet.gif) no-repeat 0 .4em;
}

table
{
	margin: 1em 0;
	border-collapse: collapse;
	width: 635px;
}

caption
{
	text-align: left;
	font-weight: bold;
	padding: 0 0 .5em;
	font-size: 120%;
}

th, td
{
	text-align: left;
	vertical-align: top;
	padding: .5em;
	border: 1px solid #bbb;
}

th
{
	font-weight: bold;
	background: #e8e6d7;
}

/*  
-------------------------------------
container
------------------------------------- */

.container
{
	position: relative;
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	text-align: left;
}

.skipLink a
{
	position: absolute;
	left: -1000px;
	z-index: 2;
	margin: 0;
	padding: .5em;
	background: #fff;
	font-size: 100%;
	font-weight: bold;
	text-decoration: none;
}

.skipLink a:active, .skipLink a:focus, .skipLink a:hover
{
	display: inline;
	top: 0;
	left: 0;
	color: #fff;
	background: #000;
}

/* -------------------------------------
header
------------------------------------- */

.header
{
	height: 130px;
	padding: 0 40px;
	background: #96aaa6 url(../images/back.jpg) no-repeat;
}

h1
{
	margin: 0;
	font-size: 280%;
	font-weight: 400;
	line-height: 130px;
	text-shadow: 0 2px 0 #506b66;
}

h1 a { text-decoration: none; }
h1 a:link { color: #fff; }
h1 a:visited { color: #fff; }

/* 

-------------------------------------
general
------------------------------------- */

.nav ul
{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #814236;
	list-style-type: none;
	-webkit-box-shadow: 0 4px 5px #888;
	-moz-box-shadow: 0 2px 5px #888;
	-o-box-shadow: 0 2px 5px #888;
	box-shadow: 0 2px 5px #888;
}

.nav li
{
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}

.nav a
{
	float: left;
	padding: .5em 1.5em;
	color: #fff;
	border-right: 1px solid #e3e2d6;
	text-decoration: none;
}

.nav a:link, .nav a:visited
{
	color: #fff;
	background: #814236;
}

.current a:link, .current a:visited { background: #571d12; }
.nav a:focus,.current a:focus { background: #000; }
.nav a:hover,.current a:hover { background: #571d12; }
.nav a:active,.current a:active { background: red; }

/* -------------------------------------
content
------------------------------------- */

.content-container
{
	clear: left;
	float: left;
	width: 100%;
	padding: 30px 0;
}

.secondarynav
{
	float: left;
	width: 185px;
	padding: 0;
	margin: 0 0 0 30px;
	*display: inline;
}

.secondarynav ul
{
	margin: 0;
	border-top: 1px solid #ddd;
	padding: 0;
}

.secondarynav li
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: none;
}

.secondarynav a
{
	display: block;
	margin: 0;
	border-bottom: 1px solid #ddd;
	padding: .5em 0;
	text-decoration: none;
}

.active a { font-weight: bold; }

.content
{
	float: left;
	margin-left: 50px;
	width: 670px;
}

.feature
{
	clear: left;
	margin: 0 0 1em;
	border-radius: 5px;
	padding: 1em;
	background: #eee;
	-webkit-box-shadow: 0 3px 5px #ddd inset;
	-moz-box-shadow: 0 3px 5px #ddd inset;
	-o-box-shadow: 0 3px 5px #ddd inset;
	box-shadow: 0 3px 5px #ddd inset;
}

.feature img
{
	float: left;
	width: 70px;
	height: 70px;
	margin: .3em 1em 0 0;
	border-radius: 5px;
}

.feature h2,.feature h3,.feature h4,.feature h5, .feature h6 { margin-bottom: .2em; }
.feature-inner { overflow: auto; }

.col
{
	float: left;
	width: 290px;
	margin: 0 0 0 30px;
}

.col h2
{
	margin: 0 0 .2em;
	font-size: 170%;
}

.col img
{
	display: block;
	margin: 0 0 1em;
	border-radius: 5px;
}

/* -------------------------------------
forms
------------------------------------- */

form
{
	margin: 1em 0;
	padding: 0;
}

fieldset
{
	border: none;
	margin: 0 0 1em;
	padding: 0;
}

legend span
{
	*position: relative;
	*left: -7px;
	display: block;
	padding: 1em 0 .5em;
	font-weight: bold;
}

.form-divider
{
	clear: left;
	float: left;
	width: 100%;
	padding: 0 0 1em;
}

.form-divider label
{
	float: left;
	width: 170px;
	text-align: right;
	margin: 0 15px 0 0;
}

.form-divider label span { color: red; }

.input
{
	float: left;
	width: 300px;
	height: 24px;
	margin: 0;
	border: 1px solid #aaa;
	padding: 0;
}

#tp1, #tp2, #tp3, #tp4, #tp5
{
	position: absolute;
	left: -500em;
}

.form-list
{
	margin: 0;
	width: 500px;
	padding: 0 0 0 185px;
	list-style-type: none;
}

.form-list li
{
	margin: 0;
	padding: 0 0 .5em;
	background: none;
}

.form-special
{
	width: 500px;
	margin: 0 0 1em;
	padding: 0 0 0 185px;
}

.conditional
{
	display: none;
	width: 500px;
	margin: 0;
	padding: 0 0 0 185px;
}

.conditional label { display: block; }

.conditional textarea
{
	display block: ;
	width: 300px;
	border: 1px solid #aaa;
}

.newsletter { margin: 0; }

.newsletter div
{
	clear: left;
	padding: 0 0 .5em;
}

.newsletter label { display: block; }

.newsletter-input
{
	width: 260px;
	height: 24px;
	margin: 0;
	border: 1px solid #aaa;
	padding: 0;
	background: #fff;
}

.button, a.button
{
	border: none;
	color: #fff;
	background: #105695;
	background-image: -webkit-linear-gradient(#105695, #023665);
	padding: .5em 1em;
	margin: 0;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 0 2px 5px #999;
}

.button:focus { background: #000; }
.button:hover { background: #814236; }
.button:active { background: red; }

#times p
{
	margin: 0;
	padding: 1em 0;
	font-weight: bold;
}

#times div
{
	clear: left;
	padding: .6em 0 0;
}

#times ul
{
	margin: 1em 0 0;
	padding: 0;
}

#times ul li
{
	clear: left;
	margin: 0;
	padding: .6em 0 0;
	list-style-type: none;
	background: none;
}

/* -------------------------------------
footer
------------------------------------- */

.footer
{
	clear: both;
	height: 1%;
	padding: 10px 30px;
	color: #fff;
	background: #814236;
}

.footer ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer li
{
	display: inline;
	margin: 0 10px 0 0;
	padding: 0;
	background: none;
}

.footer ul li a { color: #fff; }

.structural
{
	position: absolute;
	left: -500em;
}

.align-left
{
	float: left;
	margin-right: 1em;
}

.align-right
{
	float: right;
	margin-left: 1em;
}
