/* -------------------------------------
slick
------------------------------------- */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* -------------------------------------
slick customs
------------------------------------- */
.slick-arrow
{
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  width: 5em;
  z-index: 1;
  -webkit-appearance: none;
  background: rgba(100, 100, 100, 0);
  border: none;
  overflow: hidden;
  text-indent: -9999em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.slick-arrow:hover,
.slick-arrow:focus
{
  background: rgba(129, 66, 54, 0.2);
  outline: none;
}

.is-keyboarduser .slick-arrow:focus {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}

.slick-arrow::after
{
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
}

.slick-arrow.slick-prev
{
  left: 0;
}

.slick-arrow.slick-prev::after
{
  border-right: 1em solid #000;
}

.slick-arrow.slick-next
{
  right: 0;
}

.slick-arrow.slick-next::after
{
  border-left: 1em solid #000;
}

/* -------------------------------------
slideshow
------------------------------------- */

.slideshow
{
  list-style: none;
  padding: 0;
  margin: 1.5em 0;
}

.slideshow-item
{
  display: block;
  margin: 0;
  padding: 0 3.5em;
  background: none;
}

.slideshow-img
{
  max-width: 100%;
}

/* -------------------------------------
Tabcordions v3.0.0 WBC
------------------------------------- */
.js .collapsible-body{height:0;overflow:hidden;opacity:0;visibility:hidden;transform:translateZ(0);transition:opacity .4s ease,visibility .4s ease}.js .collapsible-body.is-open{height:auto;opacity:1;visibility:visible;transition:opacity .4s ease}.js .collapsible-body.is-open:focus{outline:none}.is-keyboarduser .js .collapsible-body.is-open:focus{outline:2px dotted #000;outline-offset:.5rem}.collapsible-body.is-open:focus{outline:none}.is-keyboarduser .collapsible-body.is-open:focus{outline:2px dotted #000;outline-offset:.5rem}html{line-height:1px}@media (min-width:768px){html{line-height:2px}}@media (min-width:992px){html{line-height:3px}}@media (min-width:1200px){html{line-height:4px}}.tabcordion{border:1px solid #d7d2cb;border-bottom:0 none;border-radius:3px}@media (min-width:768px){.tabcordion{border:0 none;border-radius:0}}.tabcordion-tabs.tabcordion{border:0 none;border-radius:0}.tabcordion-accordion.tabcordion{border:1px solid #d7d2cb;border-bottom:0 none;border-radius:3px}.tabcordion-lego.tabcordion{border-radius:0}.tabcordion .tabcordion-tabs{display:none;list-style:none;margin:0;padding:0;font-size:16px;position:relative;z-index:2}@media (min-width:768px){.tabcordion .tabcordion-tabs{display:table;display:flex;align-items:stretch}}.tabcordion-tabs.tabcordion .tabcordion-tabs{display:table;display:flex;align-items:stretch}.tabcordion .tabcordion-tabs .tabcordion-tab{display:table-cell;display:flex;text-align:left;padding-left:2px;line-height:1.2}.tabcordion .tabcordion-tabs .tabcordion-tab:first-child{padding-left:0}.tabcordion .tabcordion-tabs .tabcordion-tab a{display:inline-block;display:flex;align-items:flex-end;padding:14px 18px 14px 18px;color:#2d373e;background-color:#f9f9f8;border:1px solid #d7d2cb;border-bottom:0 none;border-top-right-radius:6px;border-top-left-radius:6px;transition:background .3s ease;width:100%;text-decoration:none}.tabcordion .tabcordion-tabs .tabcordion-tab a:focus{outline:none}.is-keyboarduser .tabcordion .tabcordion-tabs .tabcordion-tab a:focus{outline:2px dotted #000;outline-offset:.5rem}.tabcordion .tabcordion-tabs .tabcordion-tab a:hover{outline:none;text-decoration:none;background-color:#f4f3f0}.tabcordion .tabcordion-tabs .tabcordion-tab.is-active a{background-color:#fff;margin-bottom:-1px;padding-bottom:15px}.tabcordion .tabcordion-tabs.tabcordion-tabs-justified .tabcordion-tab{flex-grow:1}.tabcordion-lego.tabcordion .tabcordion-tabs .tabcordion-tab a{background-color:#621a4b;color:#fff;border-radius:0;margin-bottom:2px;padding-bottom:12px;border-color:#621a4b;transition:background .3s ease,padding .3s ease,margin .3s ease}.tabcordion-lego.tabcordion .tabcordion-tabs .tabcordion-tab a:hover{background-color:#915f81}.tabcordion-lego.tabcordion .tabcordion-tabs .tabcordion-tab.is-active a{background-color:#fff;color:#2d373e;margin-bottom:-1px;padding-bottom:15px;border-color:#d7d2cb}.tabcordion .tabcordion-body-header{display:block;font-size:16px;position:relative;z-index:2;border-bottom:1px solid #d7d2cb}.tabcordion .tabcordion-body-header:last-child{border-bottom:0 none}@media (min-width:768px){.tabcordion .tabcordion-body-header{display:none;border-bottom:0 none}}.tabcordion-accordion.tabcordion .tabcordion-body-header{display:block;border-bottom:1px solid #d7d2cb}.tabcordion .tabcordion-body-header .tabcordion-body-headline{display:block;padding:13px 36px 13px 18px;color:#2d373e;position:relative;transition:.3s ease;background-color:#f9f9f8;text-decoration:none}.tabcordion .tabcordion-body-header .tabcordion-body-headline:before{content:" ";display:block;position:absolute;top:19px;right:12px;display:inline-block;vertical-align:middle;border-top:8px solid #2d373e;border-top-style:solid;border-right:7px solid transparent;border-bottom:none;border-left:7px solid transparent;z-index:1}.tabcordion .tabcordion-body-header .tabcordion-body-headline:after{content:" ";display:block;position:absolute;top:20px;right:14px;display:inline-block;vertical-align:middle;border-top:6px solid #2d373e;border-right:5px solid transparent;border-bottom:none;border-left:5px solid transparent;z-index:2;transition:border .3s ease}.tabcordion .tabcordion-body-header .tabcordion-body-headline:focus{outline:none}.is-keyboarduser .tabcordion .tabcordion-body-header .tabcordion-body-headline:focus{outline:2px dotted #000;outline-offset:.5rem}.tabcordion .tabcordion-body-header .tabcordion-body-headline:hover{outline:none;text-decoration:none;background-color:#f4f3f0}.tabcordion .tabcordion-body-header .tabcordion-body-headline:active{text-decoration:none}.tabcordion .tabcordion-body-header.is-active{border-bottom:0 none}.tabcordion .tabcordion-body-header.is-active:before{content:" ";display:block;position:absolute;bottom:-16px;left:42px;display:inline-block;vertical-align:middle;border-top:16px solid #d7d2cb;border-top-style:solid;border-right:12px solid transparent;border-bottom:none;border-left:12px solid transparent;z-index:1}.tabcordion .tabcordion-body-header.is-active:after{content:" ";display:block;position:absolute;bottom:-15px;left:42px;display:inline-block;vertical-align:middle;border-top:16px solid #f9f9f8;border-right:12px solid transparent;border-bottom:none;border-left:12px solid transparent;z-index:2}.tabcordion .tabcordion-body-header.is-active .tabcordion-body-headline:hover{background-color:#f9f9f8}.tabcordion .tabcordion-body-header.is-active .tabcordion-body-headline:after{border-top-color:#fff}.tabcordion-lego.tabcordion .tabcordion-body-header{transition:border .3s ease;border-left:12px solid #d7d2cb}.tabcordion-lego.tabcordion .tabcordion-body-header .tabcordion-body-headline{padding-left:12px}.tabcordion-lego.tabcordion .tabcordion-body-header.is-active{border-left-color:#621a4b}.tabcordion-lego.tabcordion .tabcordion-body-header.is-active .tabcordion-body-headline{background-color:#fff}.tabcordion-lego.tabcordion .tabcordion-body-header.is-active:before,.tabcordion-lego.tabcordion .tabcordion-body-header.is-active:after{display:none}.tabcordion .collapsible-body{position:relative;z-index:1}.tabcordion .collapsible-body .tabcordion-body{border-top:1px solid #d7d2cb;border-bottom:1px solid #d7d2cb;padding:24px 3.22%}@media (min-width:768px){.tabcordion .collapsible-body .tabcordion-body{border-right:1px solid #d7d2cb;border-left:1px solid #d7d2cb}}.tabcordion-accordion.tabcordion .collapsible-body .tabcordion-body{border-right:0 none;border-left:0 none}.tabcordion-tabs.tabcordion .collapsible-body .tabcordion-body{border-right:1px solid #d7d2cb;border-left:1px solid #d7d2cb}.tabcordion-lego.tabcordion .collapsible-body .tabcordion-body{border-top:0 none;padding-left:24px;padding-right:24px}@media (min-width:768px){.tabcordion-lego.tabcordion .collapsible-body .tabcordion-body{border-top:1px solid #d7d2cb;padding-left:3.22%}}.tabcordion-accordion.tabcordion-lego.tabcordion .collapsible-body .tabcordion-body{border-top:0 none;padding-left:24px;padding-right:24px}.tabcordion-tabs.tabcordion-lego.tabcordion .collapsible-body .tabcordion-body{border-top:1px solid #d7d2cb;padding-left:3.22%}@media print{.tabcordion .tabcordion-body-header.is-active:before{border-top-color:#000}}

ul.tabcordion-tabs li
{
  margin: 0;
  padding: 0;
  background: none;
}

.tabcordion
{
  margin: 1.5em 0;
}

.tabcordion-tab-helper::after
{
  content: '';
  position: absolute;
  left: 0;
  top: -1em;
  border-bottom: 1em solid #d7d2cb;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}

.tabcordion-tab a
{
  position: relative;
}

.tabcordion-tab a .tabcordion-tab-helper
{
  display: none;
}

.is-keyboarduser .tabcordion-tab a:focus .tabcordion-tab-helper
{
  display: block;
  position: absolute;
  top: 3.9em;
  left: 1em;
  padding: 0.7em;
  background-color: #f9f9f8;
  border: 1px solid #d7d2cb;
}